$raisin-black: #212738ff;
$bittersweet: #f97068ff;
$pear: #d1d646ff;
$antiflash-white: #edf2efff;
$vivid-sky-blue: #57c4e5ff;

.weather-container {
  height: fit-content;
  width: 100%;
  border-top: 10px solid $vivid-sky-blue;
  border-bottom: 10px solid $vivid-sky-blue;
  --color: #f97068ff;
  background-color: #f97068ff;
  background-color: $antiflash-white;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; // Ensure padding is included in the height


  // Enable scroll snapping
  scroll-snap-align: start;

  .weather-card {
    margin: 30px 0;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background: #ffffff00;
    border-radius: 4px;
    box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px,
      #0a254059 0px -2px 6px 0px inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 80%;

    .myLocation {
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
      width: 100%;
      margin: 10px;
      color: $raisin-black;
      text-transform: uppercase;
      text-decoration: underline;
    }
    p {
      text-align: center;
      text-wrap: pretty;
      color: $raisin-black; 
    }

    .temp,
    .feel,
    .min,
    .max,
    .pressure,
    .humid,
    .wind_dir,
    .wind_speed,
    .cloud,
    .sunrise,
    .sunset,
    .visible,
    .desc {
      width: max-content;
      background-color: #3333332c;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      padding: 4px;
      box-shadow: $vivid-sky-blue 6px 2px 16px 0px,
        $bittersweet -6px -2px 16px 0px;
    }

    .weatherImg{
      filter: contrast(.5),;
      height: 40px;
    }
  }
}

@media (max-width:50em) {
  .weather-container {
padding: 10px;
  .weather-card {
    margin: 30px 0;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background: #ffffff00;
    border-radius: 4px;
    box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px,
      #0a254059 0px -2px 6px 0px inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;

    .myLocation {
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
      width: 100%;
      margin: 10px;
      color: $raisin-black;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}}