$raisin-black: #212738ff;
$bittersweet: #f97068ff;
$pear: #d1d646ff;
$antiflash-white: #edf2efff;
$vivid-sky-blue: #57c4e5ff;


@font-face {
  font-family: marby;
  src: url('./assets/mabry.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: marby;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $raisin-black; 
  border: 1px solid $antiflash-white;
  border-top: none;border-bottom: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bittersweet; 
  border: none;
}

.favicon-transition link[rel*='icon'] {
  transition: all 0.3s ease-in-out; 
}

img{
  user-select: none;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

.tab {
  // height: 40vh;
  width: 100%;
  margin:50px auto;  
  width:95%;
  background-color: $antiflash-white;
}
.tab .tab-headers {
  display:flex;
  flex-wrap:wrap;
  border-bottom:1px solid $antiflash-white;
}
.tab .tab-headers .tab-header {
  position:relative;
  padding:0px 20px;
  height:50px;
  line-height:50px;
  border-bottom: 1px solid $raisin-black;
  z-index:2;
  cursor:pointer;
  color:$raisin-black;
  font-size: 18px;
  font-weight: 200;
  user-select: none;
}
.tab .tab-headers .tab-header:before {
  content:"";
  position:absolute;
  bottom:10px;
  left:20px;
  width:25px;
  height:4px;
  background:$antiflash-white;
  border-radius:10px;
}
.tab .tab-headers .tab-header.active {
  color:$raisin-black;
  background-color: $bittersweet;
  translate: 0 -2px;
  z-index: 99;
  border: 1px solid $raisin-black;
  border-bottom: none;
  // border-radius: 10px 10px 0 0;
  // box-shadow:0px 1px 0px #fff;
  scale: 1.1;
  // transition: scale .3s ease;
}
.tab .tab-headers .tab-header.active:before {
  background:$vivid-sky-blue;
}
.tab .tab-body {
  padding:30px 20px;
}
.tab .tab-body > h2 {
  color:#222;
  margin-bottom:15px;
}
.tab .tab-body > p {
  color:#555;
  margin-bottom:10px;
}